.navlogo-con, .cs_div, .userIcons{
    width: 33.33%;
}
.navlogo-con{
    display: flex;
    padding-left: 2vw;
    flex-direction: row;
}
.navuslo{
    margin: auto 0;
}
.search_div{
    background-color: ghostwhite;
    border: .2vh solid var(--primaryColor);
    width: 83%; 
    margin: .85vh auto;
    border-radius: 1.5vw;
    display: flex;
    flex-direction: row;
    padding-left: .85vw;
    align-items: center;
}
.search_icon{
    font-size: 1.5vw;
    color: var(--primaryColor);
}
.search_div input{
    font-size: 1.5vw;
    border: none;
    outline: none;
    width: 89%;
    margin: auto 0;
    background-color: transparent;
}