.userNavCon{
    position: sticky;
    top: 0%;
    border-bottom: .3vh solid var(--borderColor);
}
.navlogo-con, .cs_div, .userIcons{
    width: 25vw;
    display: flex;
    flex-direction: row;
}
.cs_div{
    width: 48vw;
}
.navuslo{
    margin: auto 0 auto 1vw;
}
.search_div{
    background-color: ghostwhite;
    border: .2vh solid var(--borderColor);
    width: 70%; 
    margin: 1vh 0.5vw  ;
    border-radius: 1.5vw;
    display: flex;
    flex-direction: row;
    padding-left: .85vw;
    align-items: center;
}
.search_icon{
    font-size: 1.5vw;
    color: var(--primaryColor);
}
.search_div input{
    font-size: 1vw;
    font-family: var(--primaryFont);
    border: none;
    outline: none;
    width: 85%;
    margin: auto 0;
    background-color: transparent;
}
.userIcons, .cs_div{
    justify-content: space-around;
    align-items: center;
}
.userNavIcons{
    font-size: 4vh;
}
.userNavname{
    font-size: 1.05vw;
}
.userNavIcons:hover{
    transition: 0.2s ease-in-out;
}
.CgICons{
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: .65vw;
    border-radius: 2.5vw;
    align-items: center;
    transition: .2s ease-in-out;
    cursor: pointer;
}
.CProfile{
    padding:0.4vh .75vw;
    border-radius: 200vw;
}
.mainDiv{
    width: 450%;
    border-radius: .3vw;
    align-items: center;
    justify-content: center;
}
.CgICons:hover{
    background-color: var(--borderColor);
    transition: .3s ease-in-out;
}

.CgICons span{
    user-select: none;
}
.notif_div{
    position: absolute;
    margin-top: 99vh;
    user-select: none;
    width: 25vw;
    display: none;
 transition: 1s ease-in-out;
 height: 90vh;
}
.notif_div.shiw{
 display: block;
 transition: 1s ease-in-out;
}
.userNavIconsImg{
    width: 2.75vw;
    height: 2.75vw;
    margin: 0 0 0 -.50vw ;
    border-radius: 50%;
}