.userDashBoard_div{
    display: flex;
    flex-direction: row;
}
.left_div{
flex: 1;
    height: 90vh;
    position: fixed;
    width: 25vw;
    border: 1px solid red;
}
.middle_div{
    height: 2000px;
    width: 48vw;
    margin: auto;
border: 1px solid red;
}
.right_div{
border: 1px solid red;
    position: fixed;
    right: 0;
    width: 25vw;
    height: 90vh;
    flex: 1;
}